*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

    
}

:root {
    --primary-cor: #1CAE81;
    --white: #FFF;
    --title: #454545;
    --subtitle: #9E9E9E;
    /* --bg: #e5e5e5; */
    --bg: #E5E5E5;
    --pink: #FF428F
  }

  .container{
    width: 1440px;
 
  }

  body{
    background-color: var(--bg);
  }

  .container-dash{
    display: flex;  
    flex-direction: column;
    gap: 20px;
     
     width: 90%;
     margin: 0 auto;
  }